In [68]:
#1
num = 23
print(num)

23

In [69]:
#2
type(8.5)

float

In [70]:
#3
type(num)

int

In [71]:
#4
nombre = 'Oscar Vergara Briñez'

In [72]:
#5
num_complejo = 4+2j

In [73]:
#6
type(num_complejo)

complex

In [74]:
#7
pi = 3.1416

In [75]:
#8
var1 = 'True'
var2 = True

In [76]:
#9
print('var1 es de tipo ', type(var1), ' y var2 es de tipo ', type(var2))

var1 es de tipo  <class 'str'>  y var2 es de tipo  <class 'bool'>

In [77]:
#10
suma = 5 + 2.3

In [78]:
#11
p1 = 2 + 5j
p2 = 4j + 1

print(p1 + p2)

(3+9j)

In [79]:
#12
p3 = p1 + 2
print(p3)

(4+5j)

In [80]:
#13
print(7*5)

35

In [81]:
#14
print(2**8)

256

In [82]:
#15
coDiv = 27/4
print(coDiv)

6.75

In [83]:
#16
print(27//4)

6

In [84]:
#17
print(27%4)

3

In [85]:
#18
4 * 6 + 3

27

In [86]:
#19
text1 = 'San '
text2 = 'Bernardo'
print ( text1 + text2)

San Bernardo

In [87]:
#20
"2" == 2
# da como resultado False porque se está comparando un entero con una cadena

False

In [88]:
#21
int("2") == 2

True

In [90]:
#22
a = float('3,8')
# genera error porque el formato de los decimales es con punto y está escrito con coma

ValueError: could not convert string to float: '3,8'

In [91]:
#23
num2 = 3
num2 -= 2
print(num2)

1

In [92]:
#24
1 << 2
#el resultado se calcula como valor decimal de el número binaro 100

4

In [93]:
#25
print(2 + '2')
#¿Por qué no está permitido? porque no se pueden realizar operaciones con una variable numérica y otra tipo cadena
#¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
    #si ambos fueran numéricos daría como resultado 4
    #si ambos fueran cadenas daría como resultado 22

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [94]:
#26
print("hola! " * 4)

hola! hola! hola! hola!